<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./roundgraph.css">
    <title>Round Graphics</title>
</head>
<body>
    <h1 class="title_graph">Round Charts</h1>
    <section class="container_graf">
        <div class="graphic"></div>
        <div class="container_leyenda">
            <span class="leyenda_all">
                <span class="color_facebook">
                    <p class="social">40% Facebook</p>
                </span>
            </span>
            <span class="leyenda_all">
                <span class="color_twitter">
                    <p class="social">30% Twitter</p>
                </span>
            </span>
            <span class="leyenda_all">
                <span class="color_instagram">
                    <p class="social">18% Instagram</p>
                </span>
            </span>
            <span class="leyenda_all">
                <span class="color_printerest">
                    <p class="social">18% Printerest</p>
                </span>
            </span>
            <p class="total">Total: 1000.000.000</p>
        </div>
    </section>
</body>
</html>